/* CSS Reset */
*{
    margin: 0;
padding: 0;
}
/* CSS varisble */
:root{
--navbar-height:50px;
}
/* navigation bar */
#navbar{
display: flex;    
align-items: center;
}
/* navigation bar:  logo and image  */
#logo{
    margin: 10px 30px;
}
#logo img{
    height: 85px;
    margin: 10px 10p;
    
}
/* navigation bar : list styling */
#navbar{
    display: flex;
    align-items: center;
    position:relative;
    top: 0px;

}
#navbar ul{
    display: flex;
    font-family: 'Unbounded', cursive;

}
#navbar::before{
content: " ";
background-color: black;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
z-index: -1;
opacity: 0.4;
}
#navbar ul li{
 list-style: none;
 font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color:white;
   }
   #navbar ul li a:hover{
  color:black;
  background-color: white;
    }
   /* home section  */
   #home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 790px;
    justify-content: center;
    align-items: center;
    color: white;
   
   }
   #home::before{
    content: " ";
    background:url(./img/bg1.webp)no-repeat center center/cover;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
   }
   #home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
   }
   #home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
   }
   /* Team section */
   #team{
    margin: 34px;
    display: flex;
    justify-content: center;
   }
   #team .box{
   border: 2px solid brown;
   padding: 34px;
   margin: 3px 6px;
   border-radius: 28px;
   background-color: white;
   align-items: center;
   justify-content: center;
   }
   #team .box img{
    height: 300px;
    margin: auto;
   display: block;
    }
    #team .box p{
        font-family: 'Bree Serif', serif;
    } 
    /* contact section  */
    #contact{
position: relative;
    }
 #contact::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.7;
        background: url(./img/contact2.jpeg)no-repeat center center/cover;
    } 
    #contact-box input
    ,#contact-box textarea
    {
        width: 100%;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 1.1rem;

    }
    #contact-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 34px;
    }
    #contact-box form{
        width:40%;

    }
    #contact-box label{
        font-size: 1.3rem;
        font-family: 'Bree Serif', serif;
    }

    footer{
        background: black;
        color: white;
        padding: 9px 20px;
    }

   /* utility classes */
   .primary1{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
   }
   .secondary1{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
   }
   .btn{
    margin: 20px;
    padding: 5px 20px;
    border: 2px solid white;
    background-color:rgb(85, 69, 20);
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.center{
    text-align: center;
}


    